/* OVERRIDES */

/* prevent chrome autofill background (clashes with darkmode) */
// input:-webkit-autofill { transition: all 0s 50000s; }

/* no wrapping on datatable columns */
.report-column {
  white-space: nowrap;
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem !important;
  font-weight: normal;
}

.report-row {
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
}

/* striped datatable using .striped class */
.theme--light.striped.v-data-table tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.03);
}
.theme--dark.striped.v-data-table tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.03);
}

/* remove text-underline */
.text-decoration-none {
  text-decoration: none;
}