/* OVERRIDES */

/* prevent chrome autofill background (clashes with darkmode) */
// input:-webkit-autofill { transition: all 0s 50000s; }

/* no wrapping on datatable columns */
.report-column {
  white-space: nowrap;
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem !important;
  font-weight: 400;
  height: 48px !important;
}

.font-lato {
  font-family: 'Lato', sans-serif !important;
}

.font-roboto-condensed {
  font-family: 'Roboto Condensed', 'Roboto', sans-serif !important;
}

.font-roboto {
  font-family: 'Roboto', sans-serif !important;
}

.report-row {
  @extend .font-roboto-condensed
}

/* striped datatable using .striped class */
.theme--light.striped.v-data-table tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.03);
}
.theme--dark.striped.v-data-table tbody tr:nth-of-type(even) {
  background-color: rgba(255, 255, 255, 0.03);
}

/* remove text-underline */
.text-decoration-none {
  text-decoration: none;
}

.widget-list {
  .v-list-item__content {
    .v-list-item__title {
      font-weight: 400 !important;
      @extend .font-roboto-condensed;
    }
    .v-list-item__subtitle {
      font-weight: 400 !important;
      @extend .font-roboto;
    }
  }
}

/* Vehicle Widgets */
.vehicle-widget {
  .v-toolbar__title {
    @extend .font-roboto-condensed;
    font-size: 1.35rem;
  }
}

/* Report config */
.report {
  .v-card__title {
    @extend .font-lato;
    font-size: 1.5rem;
  }
}

/* Form config */
.form {
  .v-card__title {
    @extend .font-lato;
    font-size: 1.5rem;
  }
}

.thin-border {
  &.theme--dark {
    border: thin solid rgba(255, 255, 255, 0.12);
  }
  &.theme--light {
    border: thin solid rgba(0, 0, 0, 0.12)
  }
}

/* App Bar with Image bg */
.emkay-image-nav {
  position: sticky;
  top: 64px;
  left: 0;
  right: 0;
  z-index: 4;

  .v-toolbar__title {
    @extend .font-lato;
    font-size: 2.5rem !important;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.25);
  }
}

/* Prevent text-wrapping and use ellipsis for overflow text */
.overflow-ellipsis {
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}

.v-card--link:focus:before {
  opacity: 0 !important;
}