/* OVERRIDES */

/* prevent chrome autofill background (clashes with darkmode) */
// input:-webkit-autofill { transition: all 0s 50000s; }

/* no wrapping on datatable columns */
.report-column {
  min-width: 120px;
  // max-width: 250px;
  // text-overflow: ellipsis;
  white-space: nowrap;
  // overflow: hidden;
}

/* striped datatable using .striped class */
.theme--light.striped.v-data-table tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.03);
}
.theme--dark.striped.v-data-table tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.03);
}

/* remove text-underline */
.text-decoration-none {
  text-decoration: none;
}